* {

    box-sizing: border-box;


}

/* ::-webkit-scrollbar{

    width: 0px;
} */
p {

    color: white;
}


body {
    /* background-color: hsl(0, 0%, 24%); */

    /* enlever le scrolls natif  */

}


#navbar-example2 {

    transition: background-color 0.3s ease;
    /* Ajoutez une transition de 0.3 seconde avec une courbe d'accélération */
}


.bg-body-custom {

    background-color: hsl(0, 0%, 24%);

    backdrop-filter: blur(2px);
    /* background-color: hsla(0, 0%, 24%, 25%);  */
}





.nav-link {

    color: white !important;
}

.nav-link:hover {

    color: rgb(255, 255, 255) !important;

}

.active:hover {

    background-color: transparent !important;
    color: #e5884b !important;
    /* border-bottom: 1px solid rgba(255, 166, 0, 0.755); */
}

.active {

    background-color: transparent !important;
    color: #E67D36 !important;
    /* border-bottom: 1px solid orange; */
}

.navbar-toggler {

    background-color: #E67D36 !important;

}




.homepage {
    background-color: #1F1F1F;
}

.gauche {

    border-radius: 15px 90px;
    background: rgba(61, 61, 61, 0.25);
}

.droite {
    border-radius: 90px 15px;
    background: rgba(61, 61, 61, 0.25);
}

.barre {

    width: 100%;
    height: 6px;
    background: #E67D36;
}

.card-title-custom {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    background: #E67D36;
    box-shadow: -20px -20px 0px 0px #000;

    padding-top: 35px;
    color: white;
}

/* .skill {

    background-color: #1F1F1F;


} */

.btn-custom {

    background: #E67D36;
    color: white;

}

.btn-custom:hover {

    background: #b9642c;
    color: white;

}

.btn-custom:focus {
    color: white !important;

    background: #E67D36 !important;

}

.btn-custom:active {
    color: white !important;

    background: #E67D36 !important;

}

.title-custom {


    background: #E67D36 !important;
    border-radius: 15px;
    color: white;
    width: 450px;

}